<ion-header>
  <ion-toolbar>
    <ion-title>
      Rozvrh
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <!-- Input with placeholder -->
  <ion-input [(ngModel)]="userInput" placeholder="Osobní číslo..."></ion-input>
  <ion-button (click)="btnRozvrhClicked()" expand="block" > Získej rozvrh </ion-button>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Rozvrh studenta {{ userInput }}:</ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <!--{{ userInput }} <ion-icon name="arrow-forward"></ion-icon> {{ stahnirozvrhResult }}  -->
    <!-- List of Text Items -->
    <ng-container *ngIf="stahnirozvrhResult">
      <ion-card-subtitle>Pondělí</ion-card-subtitle>
    </ng-container>

    <ion-list>
      
      <ng-container *ngFor="let rozvrhovaAkce of stahnirozvrhResult; let i=index;">
          <ng-container *ngIf="rozvrhovaAkce.den === 'Pondělí'">
            <ion-item >
            {{rozvrhovaAkce.hodinaSkutOd.value}} - {{rozvrhovaAkce.hodinaSkutDo.value}} <br> 
            {{rozvrhovaAkce.typAkce}} z {{rozvrhovaAkce.nazev}} 
            </ion-item>
        </ng-container>
      </ng-container>
      
    </ion-list>

    <ng-container *ngIf="stahnirozvrhResult">
      <ion-card-subtitle>Úterý</ion-card-subtitle>
    </ng-container>
    
        <ion-list>
          
            <ng-container *ngFor="let rozvrhovaAkce of stahnirozvrhResult; let i=index;">
                <ng-container *ngIf="rozvrhovaAkce.den === 'Úterý'">
                  <ion-item >
                  {{rozvrhovaAkce.hodinaSkutOd.value}} - {{rozvrhovaAkce.hodinaSkutDo.value}} <br> 
                  {{rozvrhovaAkce.typAkce}} z {{rozvrhovaAkce.nazev}} 
                  </ion-item>
              </ng-container>
            </ng-container>
    
        </ion-list>

    <ng-container *ngIf="stahnirozvrhResult">
        <ion-card-subtitle>Středa</ion-card-subtitle>
      </ng-container>
      
          <ion-list>
            
              <ng-container *ngFor="let rozvrhovaAkce of stahnirozvrhResult; let i=index;">
                  <ng-container *ngIf="rozvrhovaAkce.den === 'Středa'">
                    <ion-item >
                    {{rozvrhovaAkce.hodinaSkutOd.value}} - {{rozvrhovaAkce.hodinaSkutDo.value}} <br> 
                    {{rozvrhovaAkce.typAkce}} z {{rozvrhovaAkce.nazev}} 
                    </ion-item>
                </ng-container>
              </ng-container>
      
          </ion-list>

    <ng-container *ngIf="stahnirozvrhResult">
        <ion-card-subtitle>Čtvrtek</ion-card-subtitle>
      </ng-container>
      
          <ion-list>
            
              <ng-container *ngFor="let rozvrhovaAkce of stahnirozvrhResult; let i=index;">
                  <ng-container *ngIf="rozvrhovaAkce.den === 'Čtvrtek'">
                    <ion-item >
                    {{rozvrhovaAkce.hodinaSkutOd.value}} - {{rozvrhovaAkce.hodinaSkutDo.value}} <br> 
                    {{rozvrhovaAkce.typAkce}} z {{rozvrhovaAkce.nazev}} 
                    </ion-item>
                </ng-container>
              </ng-container>
      
          </ion-list>

    <ng-container *ngIf="stahnirozvrhResult">
        <ion-card-subtitle>Pátek</ion-card-subtitle>
      </ng-container>
      
          <ion-list>
            
              <ng-container *ngFor="let rozvrhovaAkce of stahnirozvrhResult; let i=index;">
                  <ng-container *ngIf="rozvrhovaAkce.den === 'Pátek'; else prace">
                    <ion-item >
                    {{rozvrhovaAkce.hodinaSkutOd.value}} - {{rozvrhovaAkce.hodinaSkutDo.value}} <br> 
                    {{rozvrhovaAkce.typAkce}} z {{rozvrhovaAkce.nazev}} 
                    </ion-item>
                    
                  </ng-container>
                
                <ng-template #prace>
                  <ng-container *ngIf="(i+1)===stahnirozvrhResult.length">
                    <p>Hybaj do práce!</p>
                  </ng-container>
                </ng-template>

              </ng-container>
              
      
          </ion-list>

    
    </ion-card-content>
  </ion-card>

</ion-content>
