<ion-header>
  <ion-toolbar>
    <ion-title>
      O aplikaci
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-card>
    <ion-card-header>
      <ion-card-title>Aplikace pro získání rozvrhu studenta </ion-card-title>
    </ion-card-header>

    <ion-card-content>
    <p>Tato aplikace vznikla jako půlsemestrální projekt do předmětu A9MTE na Univerzitě Tomáše Bati ve Zlíně. 
      Pomoci STAG API dokáže získat rozvrh studenta dle čísla studenta a rozvrh zobrazit. 
      Poskytuje možnost zobrazit kompletní rozvrh nebo pro aktuální den.
    </p>
    </ion-card-content>
  </ion-card>




</ion-content>
